<div class="border-b admin-nav mb-4">
  <ul class="flex flex-wrap -mb-px">
    <li class="mr-2">
      <a
        routerLink="/admin"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="inline-block py-4 px-4 text-sm font-medium text-center rounded-t-lg border-b-2 border-transparent hover:border-gray-300"
      >
        Admin
      </a>
    </li>
    <li class="mr-2">
      <a
        routerLink="accounts"
        routerLinkActive="active"
        class="inline-block py-4 px-4 text-sm font-medium text-center rounded-t-lg border-b-2 border-transparent hover:border-gray-300"
      >
        Accounts
      </a>
    </li>
    <li class="mr-2">
      <a
        routerLink="projects"
        routerLinkActive="active"
        class="inline-block py-4 px-4 text-sm font-medium text-center rounded-t-lg border-b-2 border-transparent hover:border-gray-300"
      >
        Projects
      </a>
    </li>
    <li class="mr-2">
      <a
        routerLink="skills"
        routerLinkActive="active"
        class="inline-block py-4 px-4 text-sm font-medium text-center rounded-t-lg border-b-2 border-transparent hover:border-gray-300"
      >
        Skills
      </a>
    </li>
  </ul>
</div>
