.admin-nav {
  color: rgba(0, 0, 0, 0.5);
  padding-top: 0;
  padding-bottom: 0;
  background-color: #e8e9ea;

  a {
    border-bottom: 3px solid #bbbbbb;
    text-decoration: none;
    &:hover,
    &.active {
      color: var(--color-secondary);
      border-color: var(--color-secondary);
    }
  }
}
