<div class="admin-nav mb-4">
  <ul class="flex flex-wrap">
    <li class="col-3 p-0">
      <a
        routerLink="/admin"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="inline-block p-3 font-medium text-center w-full"
      >
        Admin
      </a>
    </li>
    <li class="col-3 p-0">
      <a
        routerLink="accounts"
        routerLinkActive="active"
        class="inline-block p-3 font-medium text-center w-full"
      >
        Accounts
      </a>
    </li>
    <li class="col-3 p-0">
      <a
        routerLink="projects"
        routerLinkActive="active"
        class="inline-block p-3 font-medium text-center w-full"
      >
        Projects
      </a>
    </li>
    <li class="col-3 p-0">
      <a
        routerLink="skills"
        routerLinkActive="active"
        class="inline-block p-3 font-medium text-center w-full"
      >
        Skills
      </a>
    </li>
  </ul>
</div>
