<h1 *ngIf="isAddMode" class="text-3xl font-bold leading-7 mb-4 text-center">
  Create Skill
</h1>
<h1 *ngIf="!isAddMode" class="text-3xl font-bold leading-7 mb-4 text-center">
  Edit Skill
</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-12">
      <label class="block text-gray-700 text-sm font-bold mb-2">Title</label>
      <input
        type="text"
        formControlName="title"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
      />
      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">Title is required</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Certification Url
      </label>
      <input
        type="url"
        formControlName="url"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.url.errors }"
      />
      <div *ngIf="submitted && f.url.errors" class="invalid-feedback">
        <div *ngIf="f.url.errors.pattern">Not valid Url</div>
      </div>
    </div>
    <div class="form-group col">
      <label class="block text-gray-700 text-sm font-bold">
        Image
        <p *ngIf="!isAddMode">Leave empty to keep the same image</p>
      </label>

      <input
        (change)="onFileSelect($event)"
        type="file"
        formControlName="imageUrl"
        class="form-control p-0"
        accept="image/*"
        [ngClass]="{
          'is-invalid': submitted && f.imageUrl.errors
        }"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Custom Styles
      </label>
      <textarea
        name="customStyles"
        cols="30"
        rows="10"
        formControlName="customStyles"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.customStyles.errors }"
      ></textarea>
      <div *ngIf="submitted && f.customStyles.errors" class="invalid-feedback">
        <div *ngIf="f.customStyles.errors.required">
          Custom styles is required
        </div>
      </div>
    </div>
    <div class="form-group col-3 flex justify-center items-center">
      <div class="block w-full">
        <app-skill-pill [skill]="this.form.getRawValue()"></app-skill-pill>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button
      [disabled]="loading"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none"
    >
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Save
    </button>
    <a
      routerLink="/admin/projects"
      class="btn btn-link inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
    >
      Cancel
    </a>
  </div>
</form>
