.skill-pill {
  padding: 0px 3%;
  color: white;
  background-color: #026fff;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
  width: fit-content;
  display: block;
  margin: 0 auto;
}
