<h1 class="text-3xl font-bold leading-7 mb-4 text-center">Skills</h1>
<a
  routerLink="add"
  class="btn btn-sm btn-success mb-4 text-white font-bold py-2 px-4 rounded"
>
  Create Skill
</a>

<div class="skill-grid">
  <div
    class="rounded overflow-hidden shadow flex items-center justify-between"
    [ngStyle]="{ 'background-color': skill.color }"
    *ngFor="let skill of skills"
  >
    <img
      class="w-full h-14 w-14 object-cover"
      [src]="skill.imageUrl"
      alt="skill image"
    />
    <div class="px-2 py-2">
      <h3 class="font-bold text-xl text-center text-slate-50">
        {{ skill.title }}
      </h3>
    </div>
    <div class="pe-2 py-2 flex">
      <a
        routerLink="edit/{{ skill.id }}"
        class="btn btn-sm btn-primary me-1 d-block w-full text-white font-bold py-2 px-4 rounded shadow"
      >
        Edit
      </a>
      <button
        (click)="deleteProject(skill.id)"
        class="btn btn-sm btn-danger d-block w-full text-white font-bold py-2 px-4 rounded shadow"
        [disabled]="skill.isDeleting"
      >
        <span
          *ngIf="skill.isDeleting"
          class="spinner-border spinner-border-sm"
        ></span>
        <span *ngIf="!skill.isDeleting">Delete</span>
      </button>
    </div>
  </div>
</div>
