<div
  class="rounded overflow-hidden shadow flex items-center justify-between"
  [ngStyle]="{ 'background-color': skill.color }"
>
  <img
    class="h-14 w-14 object-cover"
    [src]="skill.imageUrl"
    alt="skill image"
  />
  <div class="px-2 py-2">
    <h3 class="font-bold text-xl text-center text-slate-50">
      {{ skill.title }}
    </h3>
  </div>
  <div *ngIf="account.role === Role.Admin" class="pe-2 py-2 flex">
    <a
      routerLink="edit/{{ skill.id }}"
      class="btn btn-sm btn-primary me-1 d-block w-full text-white font-bold py-2 px-4 rounded shadow"
    >
      Edit
    </a>
    <button
      (click)="onDelete(skill.id)"
      class="btn btn-sm btn-danger d-block w-full text-white font-bold py-2 px-4 rounded shadow"
      [disabled]="skill.isDeleting"
    >
      <span
        *ngIf="skill.isDeleting"
        class="spinner-border spinner-border-sm"
      ></span>
      <span *ngIf="!skill.isDeleting">Delete</span>
    </button>
  </div>
</div>
